<h3> Novo chamado </h3>

<table>
	<tr>
		<td>
			<%= form_for(@chamado, :url => {:controller => "chamados" ,:action => "create"} , :method => :post) do |f| %>
				<%= render(:partial => "form" , :locals => {:f => f}) %>
			<% end %>
		</td>
	</tr>
</table>

<% javascript_include_tag "jquery.maskedinput"%>

<script>
	jQuery(function($){
		$("#contato").mask("(99) 99999-9999");
	});
</script>