<h4> Contratos </h4>

<nav>
	<ul>
		<li> <%= link_to "Novo Contrato" , {:controller => "contratos", :action => "add"} %> </li>
		<li> <%= link_to "Tipos Contrato" , {:controller => "tipos_contratos", :action => "index"} %> </li>
	</ul>
</nav>
